
services:
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    restart: unless-stopped

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    restart: unless-stopped

  ai_service:
    build: ./ai_service
    ports:
      - "8081:8080"
    restart: unless-stopped
